#display {
	background: lightblue;
	margin: none;
	padding: none;
	display: flex;
}

.layer {
	width: 40px;
	border: 1px solid black;
	margin: auto;
}

.neuron {
	width: 75%;
	padding-top:50%; /* aspect ratio 1:1*/
	border: 1px solid black;
	border-radius: 50%;
	margin: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: x-small;
	text-align: center;
}